/node_modules
/public/hot
/tests/Browser/console/*
/public/storage
/storage/*.key
/storage/framework/laravel-excel/
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.env
/_ide_helper.php
.phpunit.result.cache
.env
.env.backup
.phpunit.result.cache
fields_sample.json